<% provide(:title, @area.name) %>
<div class="row">
  <aside class="span4">
    <section>
     <div class="row">
       <div class="span2"> <h2 style = "float: left"> <%= @area.name %> </h2> </div>
       <div class = "span2"> <h3 style = "float: left"> <%= @area.description %> </h3> </div>
     </div>
    </section>
    <section>
    <%= render 'shared/area_stat' %>
    </section>
    <%= render "shared/user_side_panel" %>
  </aside>
  
  <div class="span8">	
  	<div>
  	<section>
        <%= render 'shared/post_form' %>
   </section>
    <% if @area.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>