<!DOCTYPE html>
<html style = "height: 100%">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body style = "height: 80%">
<div id = "homeoutercontainer" style = "height: 100%; ">

    <%= render 'layouts/header' %>
         
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      
      <%= yield %>
       

    </div>
    
    	
    <div class="container">
    	<% if !signed_in? %>
		<%= render 'layouts/footer' %>
	<% end %>	    

	  <%= debug(params) if Rails.env.development? %> 
    </div>
    
</div>

  
</body >
</html>
